.home {
    margin: 20px;
    min-height: 100vh;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-header-right {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-header-right > a,
.home-header-right > div > a {
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 8px;
    background: #fff;
    color: rgb(105, 233, 105);
    cursor: pointer;
}
.home-header-right > div > button {
    padding: 13px 20px 10px 20px;
    margin-left: 10px;
    align-self: center;
    border-radius: 8px;
    border: none;
    background: #fff;
    cursor: pointer;
    color: rgb(105, 233, 105);
}
.home > h1,
.home > form {
    text-align: center;
}
.search > input {
    width: 40%;
    padding: 15px;
    color: #000;
    border-radius: 8px;
}
.search:focus {
    outline: none;
    border: none;
    padding: 15px;
}
.search-btn {
    width: 10%;
    height: 45px;
    margin-left: 10px;
    border-radius: 8px;
    background: #fff;
    color: rgb(105, 233, 105);
    border: none;
}
.posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 20px;
    align-content: center;
}
.logo > a {
    display: flex;
    align-items: center;
    color: green;
}
.logo > a > img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 8px;
}
footer {
    text-align: center;
    color: green;
}
@media only screen and (max-width: 767px) {
    .posts {
        grid-template-columns: 1fr;
    }
    .home-header {
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    .home-header-right {
        flex-direction: column;
    }
    .home-header-right > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .home-header-right > div > button {
        margin-top: 10px;
        margin-left: 0;
    }
    .search-btn {
        width: 15%;
    }
}
